<section>
 <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ABC company
      </mat-panel-title>
      <mat-panel-description>
        USer Login data
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
  <div class="clsmat">
    <mat-form-field appearance="fill">
      <mat-label>Enter name</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter password</mat-label>
      <input matInput type="password">
    </mat-form-field>
</div>

  </mat-expansion-panel>

</section>


<!-- 
    
    Sample for matInput fields
    <mat-form-field appearance="fill">
    <mat-label>enter name</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="personal">Personal</mat-option>
      <mat-option value="company">Company</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Address</mat-label>
    <textarea matInput></textarea>
  </mat-form-field> -->