

Enter name <input type=text #nm name=txtname>

<h4> Child component --> Register goes here --> </h4>
<app-register [company]="nm.value"></app-register> 


<!-- <app-login></app-login> -->

<!-- 
<h3>Product Details </h3>

<form [formGroup]="product" (ngSubmit)="addproduct()">
  <div class="clsdiv">

<input type="text" matInput formControlName="productid" placeholder="enter productid">
<input type="text" matInput formControlName="pname" placeholder="Enter productname">
<input type="number" matInput formControlName="price" placeholder="Enter price">
<button type="submit"> Add product </button>

    </div>




</form> -->

